.projects-user-info-container {
    background-color: #EDEEF0;
    padding-bottom: 30px;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projects-user-info {
box-sizing:border-box;
background-color: #ffffff;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 20px;
width: 1100px;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 8px 8px;
}

.profile-photo-projects-user-info {
    width: 45px;
    height: 45px;
border-radius: 4px;
}

.projects-user-name-text {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;
margin: 0;
display: flex;
align-items: center;
color: #000000;

}

.navigation-buttons-container {
    background-color: #EDEEF0;
    padding-bottom: 30px;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 37.5px;
    box-sizing: border-box;
    width: 1100px;
    height: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.navigation-button-profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7.5px;
    gap: 7.5px;
    width: 150px;
    height: 30px;
    border: 0.75px solid #3658C1;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    }
    
    .navigation-button-project {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 7.5px;
        gap: 7.5px;
        width: 150px;
        height: 30px;
        background: transparent;
        border: 0.75px solid #3658C1;
        border-radius: 4px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    
    .navigation-button-project:link, .navigation-button-project:visited, .navigation-button-profile:link, .navigation-button-profile:visited
     {
        color: #000000;
        text-decoration: none;
    }
    
    .navigation-button-education {
        width: 300px;
        height: 30px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 7.5px;
        gap: 7.5px;
        background: transparent;
        border: 0.75px solid #3658C1;
        border-radius: 4px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
    }
    
    .navigation-button-feedback {
        width: 90px;
        height: 30px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 7.5px;
        gap: 7.5px;
        background: transparent;
        border: 0.75px solid #3658C1;
        border-radius: 4px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
    }
    
    .selected-button,
    .navigation-button:hover {
        background: #3658C1;
        border: 0.75px solid #3658C1;
        color: white;
        cursor: pointer;
    }

.projects-container {
    background-color: #EDEEF0;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projects {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 25px;
    width: 1100px;
    background: #FFFFFF;
    border: 1px solid #3658C1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.projects-title {
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.add-project-button {
    all: initial;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;

    padding: 5px 10px 5px 23px;
    background: url(/static/add-project-icon.svg) no-repeat;
    background-size: 8px 8px;
    background-position-y:center;
    background-position-x: 10px;
    margin-bottom: 20px;
}

.add-project-button:hover {
    background-color: #f0f0f0;
    border-color: #555;
    color: #333;
}

.add-project-button:active {
    background-color: #ccc;
    border-color: #333;
    color: #000;
}

.projects-item {
    box-sizing: border-box;
    width: 255px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-title {
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

.projects-list a{
    text-decoration: none;
}

.project-img {
border-radius: 8px;
width: 235px;
height: 185px;
object-fit: cover;
display: block;
}

.projects {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.projects-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.delete-button {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: white;
    z-index: 1;
    user-select: none;
}

.projects-item:hover .delete-button {
    display: block;
}

main {
    background-color: #EDEEF0;
}


/* .project-link:hover{
    background-color: red;
} */
