<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LingFolio - Главная</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <style>
    {% include 'global/style.css' %}
    {% include 'standalone/index.css' %}
  </style>
</head>
<body>
  {% include 'global/header.html' %}
  <!--header>
    <div class="main-header">
      <a href="/"><img src="../static/logo.png" class="logo-picture"></a>
      <input class="search-field" type="text" id="search" placeholder="Найти пользователя">
      <div class="header-button-container">
        <a href="/signup" class="register-button">Зарегистрироваться</a>
        <a href="/signin" class="login-button">Войти</a>
      </div>
    </div>
  </header-->
  <main>
    <section class="hero">
    </section>
    <section class="section-1">
      <img src="/static/earth.png" class="earth-picture">
      <div class="welcome-text-container">
        <h1 class="welcome-text-title">Сделайте мир доступным на вашем языке с <span>LingFOLIO</span></h1>
        <p class="welcome-text">Добро пожаловать на вашу платформу для хранения и демонстрации переводческого мастерства! Создайте свое уникальное портфолио переводов и представьте его миру.</p>
        <a class="signup-button" href="/signup">Создать портфолио</a>
      </div>
    </section>
  </main>
  {% include 'global/footer.html' %}
</body>
</html>