<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Проект</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style-header.css">
  <link rel="stylesheet" href="style-footer.css">
  <link rel="stylesheet" href="project-style.css"> -->
  <style>
    {% include 'global/style.css' %}
    {% include 'standalone/project.css' %}
  </style>
</head>

<body>
  {% include 'global/header.html' %}
  <!-- <header>
    <div class="main-header">
      <a href="/"><img src="../static/logo.png" class="logo-picture"></a>
      <input class="search-field" type="text" id="search" placeholder="Найти пользователя">
      <div class="header-button-container">
        <div class="profile-name-container">
          <p class="profile-name-text-header">Name Surname</p>
          <img class="profile-photo-small" src="../static/profile-photo.png">
        </div>
        <a class="logout-button" href="/logout">Выйти</a>
      </div>
    </div>
    </div>
  </header> -->
  {% set own = user_id == project_user_id %}
  <main>
    <section class="projects-user-info-container">
        <div class="projects-user-info">
            <img class="profile-photo-projects-user-info" src="/me/{{project_user_id}}/avatar">
            <p class="projects-user-name-text">{{project_user_name}} {{ project_user_surname }}</p>
        </div>
      </section>
      <section class="navigation-buttons-container">
        <div class="navigation-buttons">
          <a href="/me/{{project_user_id}}/info" class="navigation-button-profile navigation-button">Профиль</a>
          <a href="/me/{{project_user_id}}/projects" class="navigation-button-project navigation-button">Проекты</a>
          <a class="navigation-button-education navigation-button">Образование и достижения</a>
          <a class="navigation-button-feedback navigation-button">Отзывы</a>
        </div>
      </section>
      <section class="project-info-container">
        <div class="project-info">
          <p class="project-title">{{project_name}}</p>
          <div class="project-info-button-container">
            {% if own %}
            <button class="edit-project-button">Редактировать проект</button>
            {% endif %}
            <button class="save-project-button">Сохранить</button>
          </div>
          <div class="project-description-info">
            <div class="project-image-container">
              <img class="project-cover-img" src="/project/{{project_id}}/thumbnail">
              <form id="cover_form" enctype="multipart/form-data">
                <input id="cover_input" name="thumbnail" type="file" style="display: none;" onchange="file_updated()">
                <button type="button" id="add-project-cover-button" onclick="triggerFileInput()" class="add-project-cover-button">Прикрепить обложку</button>
              </form>
            </div>
            <div class="project-main-description">
              <p class="table-description-title">Тип проекта:</p>
              <div class="project-type">{{project_type}}</div>
              <p class="table-description-title">Описание проекта:</p>
              <div class="project-description">{{project_description}}</div>
              <p class="table-description-title">Язык оригинала:</p>
              <div class="project-original-lang">{{project_original}}</div>
              <p class="table-description-title">Язык перевода:</p>
              <div class="project-translation-lang">{{project_translation}}</div>
              <p class="table-description-title">Ссылка:</p>
              <a class="project-link"><div class="project-link-text"></div></a>
              <p class="table-description-title">Файл:</p>
              <div class="attach-file-container">
                <a class="project-file-link"></a>
                <button class="attach-file-button">Прикрепить файл</button>
              </div>
            </div>
          </div>
          <!-- <p class="project-title">Фрагмент перевода</p>
          <div class="project-info-button-container">
            <button class="add-translation-fragment-button">Добавить фрагмент перевода</button>
            <button class="edit-translation-fragment-button">Редактировать</button>
            <button class="save-translation-fragment-button">Сохранить</button>
            <button class="remove-translation-fragment-button">Удалить</button>
          </div>
          <table class="translation-fragment">
            <thead>
                <tr>
                    <th>Оригинал ({{project_original}})</th>
                    <th>Перевод ({{project_translation}})</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="original-text" contenteditable="true">{{project_previews[0]}}</td>
                    <td class="translation-text" contenteditable="true">{{project_previews[1]}}</td>
                </tr>
            </tbody>
        </table>
        </div> -->
      </section>
  </main>
  {% include 'global/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  {% include 'standalone/project.js' %}
  </script>
</body>

</html>