.projects-user-info-container {
    background-color: #EDEEF0;
    padding-bottom: 30px;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projects-user-info {
    background-color: #ffffff;
    min-width: 900px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 37.5px 37.5px;
}

.profile-photo-projects-user-info {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    margin-right: 15px;
}

.projects-user-name-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    margin: 0;
}

.navigation-buttons-container {
    background-color: #EDEEF0;
    padding-bottom: 30px;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 37.5px;
    box-sizing: border-box;
    width: 900px;
    height: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.navigation-button-profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7.5px;
    gap: 7.5px;
    width: 150px;
    height: 30px;
    border: 0.75px solid #3658C1;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
}

.navigation-button-project {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7.5px;
    gap: 7.5px;
    width: 150px;
    height: 30px;
    border: 0.75px solid #3658C1;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
}

.navigation-button-education {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7.5px;
    gap: 7.5px;
    width: 195px;
    height: 30px;
    border: 0.75px solid #3658C1;
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
}

.navigation-button-feedback {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7.5px;
    gap: 7.5px;
    width: 90px;
    height: 30px;
    border: 0.75px solid #3658C1;
    border-radius: 15px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
}

.selected-button,
.navigation-button:hover {
    background: #3658C1;
    border: 0.75px solid #3658C1;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

main {
    background-color: #EDEEF0;
}

.project-info-container {
    background-color: #EDEEF0;
    padding-bottom: 30px;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 22.5px;
    gap: 20px;
    width: 900px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 37.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;

}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    gap: 7.5px;
    height: 40px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16.5px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    text-align: left;
}

.save-project-button, .edit-project-button, .add-project-cover-button{
    box-sizing: border-box;
    display: block;
    background: #FFFFFF;
    border: 0.75px solid #000000;
    border-radius: 22.5px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 250;
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
}

.project-info-button-container{
display: flex;
flex-direction: row;
align-items: flex-start;
isolation: isolate;
width: 100%;
}

.project-image-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

width: 255px;
}

.project-cover-img{
    width: 100%;
}

.project-description-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-main-description{
border: 1px solid #000000;
border-radius: 25px;
width: 100%;
display: grid;
grid-template-columns: 115px 1fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}