.sign-up-button{
    padding: 7px 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3658C1;
    box-shadow: 0px 2.30769px 2.30769px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.sign-up-button:hover {
    background-color: #1d3c7d;
}



main{
    background-color: #EDEEF0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sign-in-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
    gap: 35px;
    width: 1100px;
    height: 555px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    background-image: url('../../static/signup-image.png'); 
    background-position: bottom right; 
    background-repeat: no-repeat; 
    background-size: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    }
    
    
    
    .sign-in-box input{
    all: unset;
    box-sizing:border-box;
    width: 400px;
    height: 30px;
    background: #FFFFFF;
    border: 0.75px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0.75px 0.75px 1.5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 4.5px 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    }
    
    .sign-in-box label{
        position: absolute;
        top: -12px;
        left: 10px;
        background: #fff;
        padding: 0 5px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    }
    
    .input-box{
        position: relative;
    }
    
    .eye-password{
        position: absolute;
        background-image: url('../../static/opened-eye.svg'); 
        background-position: center center; 
        background-repeat: no-repeat; 
        background-size: 15px 15px;
        background-color: #FFFFFF;
        width: 15px;
        height: 15px;
        right: -25px;
        top: 8px;
        cursor: pointer;
    }

    .password-shown{
        background-image: url('/static/eye-crossed.svg');  
    }
    
  
  











