<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Проект</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style-header.css">
  <link rel="stylesheet" href="style-footer.css">
  <link rel="stylesheet" href="project-style.css"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <style>
    {% include 'global/style.css' %}
    {% include 'standalone/project.css' %}
  </style>
</head>

<body>
  {% include 'global/header.html' %}
  <!-- <header>
    <div class="main-header">
      <a href="/"><img src="../static/logo.png" class="logo-picture"></a>
      <input class="search-field" type="text" id="search" placeholder="Найти пользователя">
      <div class="header-button-container">
        <div class="profile-name-container">
          <p class="profile-name-text-header">Name Surname</p>
          <img class="profile-photo-small" src="../static/profile-photo.png">
        </div>
        <a class="logout-button" href="/logout">Выйти</a>
      </div>
    </div>
    </div>
  </header> -->
  {% set own = user.id == project.user.id %}
  <main>
    <section class="projects-user-info-container">
        <div class="projects-user-info">
            <img class="profile-photo-projects-user-info" onerror="this.src='/static/profile-photo.png'" src="/me/{{project.user.id}}/avatar">
            <p class="projects-user-name-text">{{project.user.name}} {{ project.user.surname }}</p>
        </div>
      </section>
      <section class="navigation-buttons-container">
        <div class="navigation-buttons">
          <a href="/me/{{project.user.id}}/info" class="navigation-button-profile navigation-button">Профиль</a>
          <a href="/me/{{project.user.id}}/projects" class="navigation-button-project navigation-button">Проекты</a>
          <a class="navigation-button-education navigation-button">Образование и достижения</a>
          <a class="navigation-button-feedback navigation-button">Отзывы</a>
        </div>
      </section>
      <section class="project-info-container">
        <div class="project-info">
          <p class="project-title">{{project.name}}</p>
          <div class="project-info-button-container">
            {% if own %}
            <button class="edit-project-button">Редактировать проект</button>
            {% endif %}
            <button class="save-project-button">Сохранить</button>
          </div>
          <div class="project-description-info">
            <div class="project-image-container">
              <img class="project-cover-img" onerror="this.src='/static/project-default.png'" src="/project/{{project.id}}/thumbnail">
              <form id="cover_form" enctype="multipart/form-data">
                <input id="cover_input" name="thumbnail" type="file" style="display: none;">
                <button type="button" id="add-project-cover-button" class="add-project-cover-button">Прикрепить обложку</button>
              </form>
            </div>
            <div class="project-main-description">
              <p class="table-description-title">Тип проекта:</p>
              <div class="project-type">{% if project.type %}{{ project.type }}{% endif %}</div>
              <p class="table-description-title">Описание проекта:</p>
              <div class="project-description">{% if project.description %}{{project.description}}{% endif %}</div>
              <p class="table-description-title">Язык оригинала:</p>
              <div class="project-original-lang">
                <select class="edit-language-original" id="languageSelectOriginal" hidden>
                  <option value="Авадхи">Авадхи</option>
                  <option value="Азербайджанский">Азербайджанский</option>
                  <option value="Амхарский">Амхарский</option>
                  <option value="Английский">Английский</option>
                  <option value="Арабский">Арабский</option>
                  <option value="Ассамский">Ассамский</option>
                  <option value="Белорусский">Белорусский</option>
                  <option value="Бенгальский">Бенгальский</option>
                  <option value="Бходжпури">Бходжпури</option>
                  <option value="Бирманский">Бирманский</option>
                  <option value="Венгерский">Венгерский</option>
                  <option value="Вьетнамский">Вьетнамский</option>
                  <option value="Греческий">Греческий</option>
                  <option value="Гуджарати">Гуджарати</option>
                  <option value="Дакхни">Дакхни</option>
                  <option value="Игбо">Игбо</option>
                  <option value="Индонезийский">Индонезийский</option>
                  <option value="Испанский">Испанский</option>
                  <option value="Итальянский">Итальянский</option>
                  <option value="Каннада">Каннада</option>
                  <option value="Китайский">Китайский</option>
                  <option value="Корейский">Корейский</option>
                  <option value="Мадурский">Мадурский</option>
                  <option value="Магахи">Магахи</option>
                  <option value="Майтхили">Майтхили</option>
                  <option value="Малагасийский">Малагасийский</option>
                  <option value="Малайский">Малайский</option>
                  <option value="Малаялам">Малаялам</option>
                  <option value="Марвари">Марвари</option>
                  <option value="Маратхи">Маратхи</option>
                  <option value="Непальский">Непальский</option>
                  <option value="Нидерландский">Нидерландский</option>
                  <option value="Оромо">Оромо</option>
                  <option value="Ория">Ория</option>
                  <option value="Панджаби">Панджаби</option>
                  <option value="Персидский">Персидский</option>
                  <option value="Польский">Польский</option>
                  <option value="Португальский">Португальский</option>
                  <option value="Пушту">Пушту</option>
                  <option value="Румынский">Румынский</option>
                  <option value="Русский">Русский</option>
                  <option value="Сараики">Сараики</option>
                  <option value="Себуанский">Себуанский</option>
                  <option value="Сербохорватский">Сербохорватский</option>
                  <option value="Синдхи">Синдхи</option>
                  <option value="Сингальский">Сингальский</option>
                  <option value="Словакий">Словакий</option>
                  <option value="Сунданский">Сунданский</option>
                  <option value="Тагальский">Тагальский</option>
                  <option value="Тайский">Тайский</option>
                  <option value="Тамильский">Тамильский</option>
                  <option value="Телугу">Телугу</option>
                  <option value="Турецкий">Турецкий</option>
                  <option value="Узбекский">Узбекский</option>
                  <option value="Украинский">Украинский</option>
                  <option value="Урду">Урду</option>
                  <option value="Французский">Французский</option>
                  <option value="Фула">Фула</option>
                  <option value="Харьянви">Харьянви</option>
                  <option value="Хауса">Хауса</option>
                  <option value="Хинди">Хинди</option>
                  <option value="Чванский">Чванский</option>
                  <option value="Чешский">Чешский</option>
                  <option value="Читтагонг">Читтагонг</option>
                  <option value="Чхаттисгархи">Чхаттисгархи</option>
                  <option value="Чжуанский">Чжуанский</option>
                  <option value="Шона">Шона</option>
                  <option value="Яванский">Яванский</option>
                  <option value="Японский">Японский</option>
                  <option value="Ярбиа">Ярбиа</option>
              </select>
              <span class="original-lang">{% if project.original %}{{project.original}}{% endif %}</span>
            </div>
              <p class="table-description-title">Язык перевода:</p>
              <div class="project-translation-lang">
                <select class="edit-language-translation" id="languageSelectTranslation" hidden>
                  <option value="Авадхи">Авадхи</option>
                  <option value="Азербайджанский">Азербайджанский</option>
                  <option value="Амхарский">Амхарский</option>
                  <option value="Английский">Английский</option>
                  <option value="Арабский">Арабский</option>
                  <option value="Ассамский">Ассамский</option>
                  <option value="Белорусский">Белорусский</option>
                  <option value="Бенгальский">Бенгальский</option>
                  <option value="Бходжпури">Бходжпури</option>
                  <option value="Бирманский">Бирманский</option>
                  <option value="Венгерский">Венгерский</option>
                  <option value="Вьетнамский">Вьетнамский</option>
                  <option value="Греческий">Греческий</option>
                  <option value="Гуджарати">Гуджарати</option>
                  <option value="Дакхни">Дакхни</option>
                  <option value="Игбо">Игбо</option>
                  <option value="Индонезийский">Индонезийский</option>
                  <option value="Испанский">Испанский</option>
                  <option value="Итальянский">Итальянский</option>
                  <option value="Каннада">Каннада</option>
                  <option value="Китайский">Китайский</option>
                  <option value="Корейский">Корейский</option>
                  <option value="Мадурский">Мадурский</option>
                  <option value="Магахи">Магахи</option>
                  <option value="Майтхили">Майтхили</option>
                  <option value="Малагасийский">Малагасийский</option>
                  <option value="Малайский">Малайский</option>
                  <option value="Малаялам">Малаялам</option>
                  <option value="Марвари">Марвари</option>
                  <option value="Маратхи">Маратхи</option>
                  <option value="Непальский">Непальский</option>
                  <option value="Нидерландский">Нидерландский</option>
                  <option value="Оромо">Оромо</option>
                  <option value="Ория">Ория</option>
                  <option value="Панджаби">Панджаби</option>
                  <option value="Персидский">Персидский</option>
                  <option value="Польский">Польский</option>
                  <option value="Португальский">Португальский</option>
                  <option value="Пушту">Пушту</option>
                  <option value="Румынский">Румынский</option>
                  <option value="Русский">Русский</option>
                  <option value="Сараики">Сараики</option>
                  <option value="Себуанский">Себуанский</option>
                  <option value="Сербохорватский">Сербохорватский</option>
                  <option value="Синдхи">Синдхи</option>
                  <option value="Сингальский">Сингальский</option>
                  <option value="Словакий">Словакий</option>
                  <option value="Сунданский">Сунданский</option>
                  <option value="Тагальский">Тагальский</option>
                  <option value="Тайский">Тайский</option>
                  <option value="Тамильский">Тамильский</option>
                  <option value="Телугу">Телугу</option>
                  <option value="Турецкий">Турецкий</option>
                  <option value="Узбекский">Узбекский</option>
                  <option value="Украинский">Украинский</option>
                  <option value="Урду">Урду</option>
                  <option value="Французский">Французский</option>
                  <option value="Фула">Фула</option>
                  <option value="Харьянви">Харьянви</option>
                  <option value="Хауса">Хауса</option>
                  <option value="Хинди">Хинди</option>
                  <option value="Чванский">Чванский</option>
                  <option value="Чешский">Чешский</option>
                  <option value="Читтагонг">Читтагонг</option>
                  <option value="Чхаттисгархи">Чхаттисгархи</option>
                  <option value="Чжуанский">Чжуанский</option>
                  <option value="Шона">Шона</option>
                  <option value="Яванский">Яванский</option>
                  <option value="Японский">Японский</option>
                  <option value="Ярбиа">Ярбиа</option>
              </select>
                <span class="translation-lang">{% if project.translation %}{{project.translation}}{% endif %}</span>
              </div>
              <p class="table-description-title">Файл:</p>
              <div class="attach-file-container">
                <a target="_blank" class="project-file-link" id="project_file_link" href="/project/{{project.id}}/content">Файл проекта</a>
                <form id="file_form" enctype="multipart/form-data">
                    <input id="file_input" name="content" type="file" accept=".pdf" style="display: none;">
                </form>
                <a class="project-file-link" id="project_file_link" href="#" style="display: none;">Ссылка на файл</a>
                <button type="button" class="attach-file-button" >Прикрепить файл</button>
            </div>
            </div>
          </div>
          <p class="project-translation-title">Фрагмент перевода</p>
        <table class="translation-fragment">
          <thead>
              <tr>
                  <th>Оригинал {% if project.original %}({{project.original}}){% endif %}</th>
                  <th>Перевод {% if project.translation %}({{project.translation}}){% endif %}</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="original-text">{% if project.preview_original %}{{project.preview_original}}{% endif %}</td>
                  <td class="translation-text">{% if project.preview_translation %}{{project.preview_translation}}{% endif %}</td>
              </tr>
          </tbody>
      </table>
        </div>
      </section>
  </main>
  {% include 'global/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  {% include 'standalone/project.js' %}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</body>

</html>